@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --color-bg-primary: #111827;
  --color-bg-secondary:#1F2937;
  --color-bg-accent: #34D399;

  --color-text-primary: white;
  --color-text-secondary: #FBBF24;
  --color-text-accent:  #34D399;
  
  --btn-primary: #047857;
}

.light {
  --color-bg-primary: white;
  --color-bg-secondary: #F3F4F6;
  --color-bg-accent:#3B82F6;

  --color-text-primary: black;
  --color-text-secondary: #FBBF24;
  --color-text-accent: #3B82F6;

  --btn-primary: #1D4ED8;
}